.main_particle_body {
    background: radial-gradient(circle, #06051f,#24246e);
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
.main_particle_body:active .particle_child_cmn,
.main_particle_body:active .particle_child_cmn::before,
.main_particle_body:active .particle_child_cmn::after {
    padding: 40px;
}

.particle_child_cmn::before, .particle_child_cmn::after{
    position: fixed;
}
.particle_child_cmn,
.particle_child_cmn::before,
.particle_child_cmn::after {
    content: "";
    top: 0px;
    left: 0;
    opacity: 0.9;
    transform-origin: top;
    transition: all 5s linear 0s;
}

.purple {
    -webkit-animation: purple linear 30s alternate infinite;
    animation: purple linear 30s alternate infinite;
    border: 2px solid #241379;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    transform: translate3d(38vw, 81vh, 0);
    z-index: 5;
}

.purple::before {
    -webkit-animation: purple-pseudo linear 15s alternate infinite;
    animation: purple-pseudo linear 15s alternate infinite;
    background: #241379;
    border: 2px solid #241379;
    width: 27px;
    height: 8px;
    transform: translate3d(23vw, 4vh, 0) rotate(191deg);
}

.purple::after {
    -webkit-animation: purple-pseudo linear 20s alternate infinite;
    animation: purple-pseudo linear 20s alternate infinite;
    border: 2px solid #241379;
    width: 8px;
    height: 6px;
    transform: translate3d(-17vw, -74vh, 0) rotate(252deg);
}

@-webkit-keyframes purple {
    50% {
        transform: translate3d(48vw, 64vh, 0);
    }
    100% {
        transform: translate3d(96vw, 4vh, 0);
    }
}

@keyframes purple {
    50% {
        transform: translate3d(48vw, 64vh, 0);
    }
    100% {
        transform: translate3d(96vw, 4vh, 0);
    }
}
@-webkit-keyframes purple-pseudo {
    33% {
        transform: translate3d(-47vw, 28vh, 0) rotate(115deg);
    }
    100% {
        transform: translate3d(-85vw, -4vh, 0) rotate(93deg);
    }
}
@keyframes purple-pseudo {
    33% {
        transform: translate3d(-47vw, 28vh, 0) rotate(115deg);
    }
    100% {
        transform: translate3d(-85vw, -4vh, 0) rotate(93deg);
    }
}
.medium-blue {
    -webkit-animation: medium-blue linear 30s alternate infinite;
    animation: medium-blue linear 30s alternate infinite;
    border: 2px solid #2185bf;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    transform: translate3d(90vw, 75vh, 0);
    z-index: 3;
}

.medium-blue::before {
    -webkit-animation: medium-blue-pseudo linear 15s alternate infinite;
    animation: medium-blue-pseudo linear 15s alternate infinite;
    background: #2185bf;
    border: 2px solid #2185bf;
    width: 7px;
    height: 34px;
    transform: translate3d(-54vw, -43vh, 0) rotate(98deg);
}

.medium-blue::after {
    -webkit-animation: medium-blue-pseudo linear 20s alternate infinite;
    animation: medium-blue-pseudo linear 20s alternate infinite;
    border: 2px solid #2185bf;
    width: 24px;
    height: 42px;
    transform: translate3d(-90vw, -53vh, 0) rotate(258deg);
}

@-webkit-keyframes medium-blue {
    50% {
        transform: translate3d(25vw, 90vh, 0);
    }
    100% {
        transform: translate3d(74vw, 90vh, 0);
    }
}

@keyframes medium-blue {
    50% {
        transform: translate3d(25vw, 90vh, 0);
    }
    100% {
        transform: translate3d(74vw, 90vh, 0);
    }
}
@-webkit-keyframes medium-blue-pseudo {
    33% {
        transform: translate3d(-15vw, -2vh, 0) rotate(291deg);
    }
    100% {
        transform: translate3d(-62vw, -52vh, 0) rotate(274deg);
    }
}
@keyframes medium-blue-pseudo {
    33% {
        transform: translate3d(-15vw, -2vh, 0) rotate(291deg);
    }
    100% {
        transform: translate3d(-62vw, -52vh, 0) rotate(274deg);
    }
}
.light-blue {
    -webkit-animation: light-blue linear 30s alternate infinite;
    animation: light-blue linear 30s alternate infinite;
    border: 2px solid #1fbce1;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    transform: translate3d(4vw, 11vh, 0);
    z-index: 6;
}

.light-blue::before {
    -webkit-animation: light-blue-pseudo linear 15s alternate infinite;
    animation: light-blue-pseudo linear 15s alternate infinite;
    background: #1fbce1;
    border: 2px solid #1fbce1;
    width: 19px;
    height: 22px;
    transform: translate3d(79vw, 29vh, 0) rotate(173deg);
}

.light-blue::after {
    -webkit-animation: light-blue-pseudo linear 20s alternate infinite;
    animation: light-blue-pseudo linear 20s alternate infinite;
    border: 2px solid #1fbce1;
    width: 49px;
    height: 43px;
    transform: translate3d(74vw, 27vh, 0) rotate(305deg);
}

@-webkit-keyframes light-blue {
    50% {
        transform: translate3d(68vw, 12vh, 0);
    }
    100% {
        transform: translate3d(84vw, 74vh, 0);
    }
}

@keyframes light-blue {
    50% {
        transform: translate3d(68vw, 12vh, 0);
    }
    100% {
        transform: translate3d(84vw, 74vh, 0);
    }
}
@-webkit-keyframes light-blue-pseudo {
    33% {
        transform: translate3d(23vw, 13vh, 0) rotate(205deg);
    }
    100% {
        transform: translate3d(-81vw, 17vh, 0) rotate(110deg);
    }
}
@keyframes light-blue-pseudo {
    33% {
        transform: translate3d(23vw, 13vh, 0) rotate(205deg);
    }
    100% {
        transform: translate3d(-81vw, 17vh, 0) rotate(110deg);
    }
}
.red {
    -webkit-animation: red linear 30s alternate infinite;
    animation: red linear 30s alternate infinite;
    border: 2px solid #b62f56;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    transform: translate3d(25vw, 45vh, 0);
    z-index: 3;
}

.red::before {
    -webkit-animation: red-pseudo linear 15s alternate infinite;
    animation: red-pseudo linear 15s alternate infinite;
    background: #b62f56;
    border: 2px solid #b62f56;
    width: 25px;
    height: 46px;
    transform: translate3d(73vw, -34vh, 0) rotate(77deg);
}

.red::after {
    -webkit-animation: red-pseudo linear 20s alternate infinite;
    animation: red-pseudo linear 20s alternate infinite;
    border: 2px solid #b62f56;
    width: 34px;
    height: 31px;
    transform: translate3d(29vw, -7vh, 0) rotate(101deg);
}

@-webkit-keyframes red {
    50% {
        transform: translate3d(31vw, 43vh, 0);
    }
    100% {
        transform: translate3d(39vw, 74vh, 0);
    }
}

@keyframes red {
    50% {
        transform: translate3d(31vw, 43vh, 0);
    }
    100% {
        transform: translate3d(39vw, 74vh, 0);
    }
}
@-webkit-keyframes red-pseudo {
    33% {
        transform: translate3d(-18vw, 10vh, 0) rotate(276deg);
    }
    100% {
        transform: translate3d(33vw, 19vh, 0) rotate(293deg);
    }
}
@keyframes red-pseudo {
    33% {
        transform: translate3d(-18vw, 10vh, 0) rotate(276deg);
    }
    100% {
        transform: translate3d(33vw, 19vh, 0) rotate(293deg);
    }
}
.orange {
    -webkit-animation: orange linear 30s alternate infinite;
    animation: orange linear 30s alternate infinite;
    border: 2px solid #d5764c;
    border-radius: 100%;
    width: 9px;
    height: 9px;
    transform: translate3d(79vw, 70vh, 0);
    z-index: 2;
}

.orange::before {
    -webkit-animation: orange-pseudo linear 15s alternate infinite;
    animation: orange-pseudo linear 15s alternate infinite;
    background: #d5764c;
    border: 2px solid #d5764c;
    width: 25px;
    height: 30px;
    transform: translate3d(14vw, 17vh, 0) rotate(9deg);
}

.orange::after {
    -webkit-animation: orange-pseudo linear 20s alternate infinite;
    animation: orange-pseudo linear 20s alternate infinite;
    border: 2px solid #d5764c;
    width: 47px;
    height: 19px;
    transform: translate3d(-52vw, -62vh, 0) rotate(155deg);
}

@-webkit-keyframes orange {
    50% {
        transform: translate3d(16vw, 4vh, 0);
    }
    100% {
        transform: translate3d(97vw, 67vh, 0);
    }
}

@keyframes orange {
    50% {
        transform: translate3d(16vw, 4vh, 0);
    }
    100% {
        transform: translate3d(97vw, 67vh, 0);
    }
}
@-webkit-keyframes orange-pseudo {
    33% {
        transform: translate3d(28vw, 61vh, 0) rotate(165deg);
    }
    100% {
        transform: translate3d(-13vw, -50vh, 0) rotate(32deg);
    }
}
@keyframes orange-pseudo {
    33% {
        transform: translate3d(28vw, 61vh, 0) rotate(165deg);
    }
    100% {
        transform: translate3d(-13vw, -50vh, 0) rotate(32deg);
    }
}
.yellow {
    -webkit-animation: yellow linear 30s alternate infinite;
    animation: yellow linear 30s alternate infinite;
    border: 2px solid #ffd53e;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transform: translate3d(27vw, 7vh, 0);
    z-index: 11;
}

.yellow::before {
    -webkit-animation: yellow-pseudo linear 15s alternate infinite;
    animation: yellow-pseudo linear 15s alternate infinite;
    background: #ffd53e;
    border: 2px solid #ffd53e;
    width: 24px;
    height: 12px;
    transform: translate3d(50vw, 53vh, 0) rotate(24deg);
}

.yellow::after {
    -webkit-animation: yellow-pseudo linear 20s alternate infinite;
    animation: yellow-pseudo linear 20s alternate infinite;
    border: 2px solid #ffd53e;
    width: 32px;
    height: 16px;
    transform: translate3d(57vw, 11vh, 0) rotate(311deg);
}

@-webkit-keyframes yellow {
    50% {
        transform: translate3d(27vw, 2vh, 0);
    }
    100% {
        transform: translate3d(72vw, 79vh, 0);
    }
}

@keyframes yellow {
    50% {
        transform: translate3d(27vw, 2vh, 0);
    }
    100% {
        transform: translate3d(72vw, 79vh, 0);
    }
}
@-webkit-keyframes yellow-pseudo {
    33% {
        transform: translate3d(15vw, 12vh, 0) rotate(179deg);
    }
    100% {
        transform: translate3d(-16vw, -45vh, 0) rotate(342deg);
    }
}
@keyframes yellow-pseudo {
    33% {
        transform: translate3d(15vw, 12vh, 0) rotate(179deg);
    }
    100% {
        transform: translate3d(-16vw, -45vh, 0) rotate(342deg);
    }
}
.cyan {
    -webkit-animation: cyan linear 30s alternate infinite;
    animation: cyan linear 30s alternate infinite;
    border: 2px solid #78ffba;
    border-radius: 100%;
    width: 41px;
    height: 41px;
    transform: translate3d(92vw, 88vh, 0);
    z-index: 8;
}

.cyan::before {
    -webkit-animation: cyan-pseudo linear 15s alternate infinite;
    animation: cyan-pseudo linear 15s alternate infinite;
    background: #78ffba;
    border: 2px solid #78ffba;
    width: 41px;
    height: 28px;
    transform: translate3d(-39vw, -60vh, 0) rotate(74deg);
}

.cyan::after {
    -webkit-animation: cyan-pseudo linear 20s alternate infinite;
    animation: cyan-pseudo linear 20s alternate infinite;
    border: 2px solid #78ffba;
    width: 21px;
    height: 35px;
    transform: translate3d(-83vw, 4vh, 0) rotate(330deg);
}

@-webkit-keyframes cyan {
    50% {
        transform: translate3d(96vw, 12vh, 0);
    }
    100% {
        transform: translate3d(61vw, 12vh, 0);
    }
}

@keyframes cyan {
    50% {
        transform: translate3d(96vw, 12vh, 0);
    }
    100% {
        transform: translate3d(61vw, 12vh, 0);
    }
}
@-webkit-keyframes cyan-pseudo {
    33% {
        transform: translate3d(-13vw, 69vh, 0) rotate(5deg);
    }
    100% {
        transform: translate3d(-41vw, 0vh, 0) rotate(130deg);
    }
}
@keyframes cyan-pseudo {
    33% {
        transform: translate3d(-13vw, 69vh, 0) rotate(5deg);
    }
    100% {
        transform: translate3d(-41vw, 0vh, 0) rotate(130deg);
    }
}
.light-green {
    -webkit-animation: light-green linear 30s alternate infinite;
    animation: light-green linear 30s alternate infinite;
    border: 2px solid #98fd85;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    transform: translate3d(22vw, 53vh, 0);
    z-index: 8;
}

.light-green::before {
    -webkit-animation: light-green-pseudo linear 15s alternate infinite;
    animation: light-green-pseudo linear 15s alternate infinite;
    background: #98fd85;
    border: 2px solid #98fd85;
    width: 31px;
    height: 33px;
    transform: translate3d(9vw, -10vh, 0) rotate(7deg);
}

.light-green::after {
    -webkit-animation: light-green-pseudo linear 20s alternate infinite;
    animation: light-green-pseudo linear 20s alternate infinite;
    border: 2px solid #98fd85;
    width: 21px;
    height: 26px;
    transform: translate3d(66vw, -52vh, 0) rotate(263deg);
}

@-webkit-keyframes light-green {
    50% {
        transform: translate3d(20vw, 75vh, 0);
    }
    100% {
        transform: translate3d(5vw, 55vh, 0);
    }
}

@keyframes light-green {
    50% {
        transform: translate3d(20vw, 75vh, 0);
    }
    100% {
        transform: translate3d(5vw, 55vh, 0);
    }
}
@-webkit-keyframes light-green-pseudo {
    33% {
        transform: translate3d(11vw, -5vh, 0) rotate(313deg);
    }
    100% {
        transform: translate3d(46vw, -17vh, 0) rotate(151deg);
    }
}
@keyframes light-green-pseudo {
    33% {
        transform: translate3d(11vw, -5vh, 0) rotate(313deg);
    }
    100% {
        transform: translate3d(46vw, -17vh, 0) rotate(151deg);
    }
}
.lime {
    -webkit-animation: lime linear 30s alternate infinite;
    animation: lime linear 30s alternate infinite;
    border: 2px solid #befb46;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    transform: translate3d(63vw, 80vh, 0);
    z-index: 8;
}

.lime::before {
    -webkit-animation: lime-pseudo linear 15s alternate infinite;
    animation: lime-pseudo linear 15s alternate infinite;
    background: #befb46;
    border: 2px solid #befb46;
    width: 46px;
    height: 5px;
    transform: translate3d(-62vw, -17vh, 0) rotate(89deg);
}

.lime::after {
    -webkit-animation: lime-pseudo linear 20s alternate infinite;
    animation: lime-pseudo linear 20s alternate infinite;
    border: 2px solid #befb46;
    width: 38px;
    height: 43px;
    transform: translate3d(-49vw, -33vh, 0) rotate(183deg);
}

@-webkit-keyframes lime {
    50% {
        transform: translate3d(29vw, 35vh, 0);
    }
    100% {
        transform: translate3d(5vw, 28vh, 0);
    }
}

@keyframes lime {
    50% {
        transform: translate3d(29vw, 35vh, 0);
    }
    100% {
        transform: translate3d(5vw, 28vh, 0);
    }
}
@-webkit-keyframes lime-pseudo {
    33% {
        transform: translate3d(18vw, -33vh, 0) rotate(318deg);
    }
    100% {
        transform: translate3d(5vw, -25vh, 0) rotate(10deg);
    }
}
@keyframes lime-pseudo {
    33% {
        transform: translate3d(18vw, -33vh, 0) rotate(318deg);
    }
    100% {
        transform: translate3d(5vw, -25vh, 0) rotate(10deg);
    }
}
.magenta {
    -webkit-animation: magenta linear 30s alternate infinite;
    animation: magenta linear 30s alternate infinite;
    border: 2px solid #6c046c;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transform: translate3d(89vw, 49vh, 0);
    z-index: 6;
}

.magenta::before {
    -webkit-animation: magenta-pseudo linear 15s alternate infinite;
    animation: magenta-pseudo linear 15s alternate infinite;
    background: #6c046c;
    border: 2px solid #6c046c;
    width: 35px;
    height: 34px;
    transform: translate3d(-17vw, 19vh, 0) rotate(132deg);
}

.magenta::after {
    -webkit-animation: magenta-pseudo linear 20s alternate infinite;
    animation: magenta-pseudo linear 20s alternate infinite;
    border: 2px solid #6c046c;
    width: 38px;
    height: 20px;
    transform: translate3d(-38vw, 49vh, 0) rotate(264deg);
}

@-webkit-keyframes magenta {
    50% {
        transform: translate3d(76vw, 91vh, 0);
    }
    100% {
        transform: translate3d(55vw, 85vh, 0);
    }
}

@keyframes magenta {
    50% {
        transform: translate3d(76vw, 91vh, 0);
    }
    100% {
        transform: translate3d(55vw, 85vh, 0);
    }
}
@-webkit-keyframes magenta-pseudo {
    33% {
        transform: translate3d(22vw, -18vh, 0) rotate(180deg);
    }
    100% {
        transform: translate3d(-6vw, -6vh, 0) rotate(215deg);
    }
}
@keyframes magenta-pseudo {
    33% {
        transform: translate3d(22vw, -18vh, 0) rotate(180deg);
    }
    100% {
        transform: translate3d(-6vw, -6vh, 0) rotate(215deg);
    }
}
.lightish-red {
    -webkit-animation: lightish-red linear 30s alternate infinite;
    animation: lightish-red linear 30s alternate infinite;
    border: 2px solid #f04c81;
    border-radius: 100%;
    width: 46px;
    height: 46px;
    transform: translate3d(74vw, 31vh, 0);
    z-index: 5;
}

.lightish-red::before {
    -webkit-animation: lightish-red-pseudo linear 15s alternate infinite;
    animation: lightish-red-pseudo linear 15s alternate infinite;
    background: #f04c81;
    border: 2px solid #f04c81;
    width: 10px;
    height: 24px;
    transform: translate3d(12vw, 21vh, 0) rotate(37deg);
}

.lightish-red::after {
    -webkit-animation: lightish-red-pseudo linear 20s alternate infinite;
    animation: lightish-red-pseudo linear 20s alternate infinite;
    border: 2px solid #f04c81;
    width: 34px;
    height: 30px;
    transform: translate3d(16vw, -2vh, 0) rotate(282deg);
}

@-webkit-keyframes lightish-red {
    50% {
        transform: translate3d(10vw, 67vh, 0);
    }
    100% {
        transform: translate3d(76vw, 66vh, 0);
    }
}

@keyframes lightish-red {
    50% {
        transform: translate3d(10vw, 67vh, 0);
    }
    100% {
        transform: translate3d(76vw, 66vh, 0);
    }
}
@-webkit-keyframes lightish-red-pseudo {
    33% {
        transform: translate3d(74vw, -44vh, 0) rotate(123deg);
    }
    100% {
        transform: translate3d(-53vw, 30vh, 0) rotate(107deg);
    }
}
@keyframes lightish-red-pseudo {
    33% {
        transform: translate3d(74vw, -44vh, 0) rotate(123deg);
    }
    100% {
        transform: translate3d(-53vw, 30vh, 0) rotate(107deg);
    }
}
.pink {
    -webkit-animation: pink linear 30s alternate infinite;
    animation: pink linear 30s alternate infinite;
    border: 2px solid #ff4293;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    transform: translate3d(98vw, 36vh, 0);
    z-index: 6;
}

.pink::before {
    -webkit-animation: pink-pseudo linear 15s alternate infinite;
    animation: pink-pseudo linear 15s alternate infinite;
    background: #ff4293;
    border: 2px solid #ff4293;
    width: 14px;
    height: 13px;
    transform: translate3d(1vw, 38vh, 0) rotate(129deg);
}

.pink::after {
    -webkit-animation: pink-pseudo linear 20s alternate infinite;
    animation: pink-pseudo linear 20s alternate infinite;
    border: 2px solid #ff4293;
    width: 40px;
    height: 14px;
    transform: translate3d(-29vw, -2vh, 0) rotate(36deg);
}

@-webkit-keyframes pink {
    50% {
        transform: translate3d(17vw, 28vh, 0);
    }
    100% {
        transform: translate3d(68vw, 4vh, 0);
    }
}

@keyframes pink {
    50% {
        transform: translate3d(17vw, 28vh, 0);
    }
    100% {
        transform: translate3d(68vw, 4vh, 0);
    }
}
@-webkit-keyframes pink-pseudo {
    33% {
        transform: translate3d(27vw, 57vh, 0) rotate(73deg);
    }
    100% {
        transform: translate3d(29vw, 51vh, 0) rotate(320deg);
    }
}
@keyframes pink-pseudo {
    33% {
        transform: translate3d(27vw, 57vh, 0) rotate(73deg);
    }
    100% {
        transform: translate3d(29vw, 51vh, 0) rotate(320deg);
    }
}
